<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.1" targetFramework="net472" />
  <package id="kayChart.dll" version="0.4.7" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net472" />
</packages>